/* ALLGEMEIN */
*{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #699D9C;
}

.bodyDiv {
    padding: 100px 200px;
}

.horizontal {
    display: flex;
}

.justifyBetween {
    justify-content: space-between;
}

/* TYPOGRAFIE */
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
}

p {
    font-weight: 300;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.linkText {
    color: #BFF7F7;
}

.logoText {
    text-transform: uppercase;
    font-weight: 700;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.aufzaehlung {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.aufzaehlung li {
    padding-left: 20px;
}

/* INDEX */
.indexBody {
    overflow: hidden;
}

.indexH1 {
    text-align: center;
}

.indexImage {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

/* ABOUT */
.about {
    justify-content: space-between;
}

.aboutContainer {
    padding-top: 50px;
    width: 50vw;
}

.aboutHorizontal {
    justify-content: space-between;
    width: 50vw;
}

.aboutImage {
    width: 30vw;
    margin-top: 50px;
}

.aboutImageSmall {
    height: 20vh;
    margin-right: 20px;
}

/* GALLERY */
.galleryContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.galleryImage {
    width: calc((100vw - 500px) / 5);
}

.galleryItem h2 {
    text-align: center;
}

.pics {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.pics img {
    width: 20vw;
    margin-top: 2vh;
}

/* PROJECTS */
.h2p {
    margin: 10px 0;
}

.h3p {
    margin-bottom: 10px;
}

.videos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.video {
    width: 40vw;
}


/* MOBILE */
@media (max-width:480px) {
    /* ALLGEMEIN */
    .bodyDiv {
        padding: 10px 20px;
    }

    /* TYPOGRAFIE */
    h1 {
        text-align: center;
        margin: 10px 0 20px;
    }

    /* GALLERY */
    .galleryContainer {
        flex-direction: column;
        padding-top: 0;
    }

    .galleryImage {
        width: 100%;
    }

    .galleryItem h2 {
        margin-bottom: 30px;
    }
}
